* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    margin-top: 20px;
    height: 80vh;
    background-image: url(../Assets/Img/pexels-mídia-4116193.jpg);
    background-color: rgba(255, 255, 255, 0.329);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}