* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}   
.background-main{
    background-image: url(../Assets/Img/pexels-mídia-4116193.jpg);
        filter: brightness(0.8);
    margin-top: 20px;
    height: auto;
    background-color: rgb(0, 0, 0);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
