* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}   
.body{
    color: black;
}
.background-main{
    background-image: url(../Assets/Img/interior-taller.webp);
    height: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1{  
    font-size: 3rem;
    color: $colortituloh1;
}

