header {
  background-color: rgba(51, 50, 50, 0.849);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (min-width: 300px) and (max-width: 767px) {
}
