.tarjetas {
    margin-left: 7%;  
    .card {
        margin-top: 5%;
        display: inline-block;
        width: 18rem;
    }  
    .p-card {
        color: black;
    } 
}

.com-cliente {
    margin-top: 2%;
    margin-left: 8%;
    text-align: center;
    font-size: 1.2rem;
    width: 83%;

}

@media screen and (min-width: 300px) and (max-width:767px){
    .tarjetas {
        margin-left: 16%;  
        .card {
            margin-top: 5%;
            display: inline-block;
            width: 12rem;
        }   
    }
     
    
}

