.usuario {
  margin-left: 17%;
  margin-bottom: 1%;
}

.correo {
  margin-left: 17%;
  margin-bottom: 1%;
}

.texto {
  margin-left: 15%;
  margin-bottom: 1%;
}

.botonEnviar {
  margin-left: 16%;
  margin-bottom: 1%;
}

.botonReset {
  margin-left: 2%;
  margin-bottom: 1%;
}

@media screen and (min-width: 300px) and (max-width: 767px) {
}
