.BloqueTitulo {
    display: contents;
}
.Titulo {
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 0 auto;
    width: 32%;
}

.BloqueSub {
    width: 100%;
}
.Sub {
    color: rgb(255, 255, 255);
    margin: 0 auto;
    width: 100%;
}